/* Color Palette */
:root {
  --color-primary: #ad42eb;
  --color-accent: #e82dcf;
  --color-headings: #530d7b;
  --color-body: #20052f;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.5rem;
}

h1,
h2 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 3.5rem;
  }

  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 5.5rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link {
  color: var(--color-body);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 3rem;
  }
}

/* Lists */
.list {
  list-style-type: none;
  padding-left: 0;
}

/* Buttons */
.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 3rem;
  border: 0;
  border-radius: 40px;
}

.btn--accent {
  background: var(--color-accent);
}

.btn--accent:hover {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 2.3rem;
    padding: 2rem 5rem;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Blocks */
.block {
  padding: 6rem 2rem;
}

.block__heading {
  margin-top: 0;
}

/* Navigation Bar */
.nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav > p {
  margin: 1rem;
}

.nav__list {
  display: flex;
  margin: 1rem;
}

.nav__list__item {
  padding: 0 2rem;
}
