/* Color Palette */
:root {
  --color-primary: #ad62ce;
  --color-headings: #530d7b;
  --color-body: #20052f;
  --color-label: #000000;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.5rem;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
  margin-top: 5rem;
  padding-top: 1rem;
  text-align: center;
}

h2 {
  font-size: 4.5rem;
  margin-bottom: 0;
}

h2:nth-of-type(1) {
  margin-top: 0;
}

h2:last-of-type {
  margin-bottom: 2rem;
}

.body__p {
  margin-top: 1rem;
}

#tele {
  font-weight: bold;
}

#quote {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 3.5rem;
  }

  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 5.5rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link {
  color: var(--color-body);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 3rem;
  }
}

/* Lists */
.list {
  list-style-type: none;
  padding-left: 0;
}

/* Buttons */
.btn {
  font-size: 1.8rem;
  letter-spacing: 0.4rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  border: 0;
  border-radius: 40px;
}

.btn--primary {
  background: var(--color-primary);
}

.btn--primary:hover {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
    padding: 2rem 5rem;
  }
}

/* Blocks */
.block {
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 1rem;
}

#home {
  margin-top: 3rem;
}

@media screen and (min-width: 480px) and (max-width: 780px) and (orientation: landscape) {
  #home {
    margin-bottom: 3rem;
  }
}

/* Navigation Bar */
.nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav > p {
  margin: 1rem;
}

.nav__list {
  display: flex;
  margin: 1rem;
}

.nav__list__item {
  padding: 0 0.5rem;
}

@media screen and (min-width: 1024px) {
  .nav__list__item {
    padding: 0 2rem;
  }
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.hero__content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 300px;
}

.img__label {
  font-size: 2rem;
  color: var(--color-label);
  margin-top: 0;
}

#hero__item2 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  img {
    height: 500px;
  }
}

/* Cards */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

body__p:nth-child(3) {
  margin-bottom: 0;
}
